@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-background-light dark:bg-background-dark;
    }
    p {
        @apply font-sans text-text-light dark:text-text-dark;
    }
    h3 {
        @apply font-heading text-[2rem] text-text-light dark:text-text-dark;
    }
}