@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-background-light dark:bg-background-dark font-sans text-text-light dark:text-text-dark;
    }
    h3 {
        @apply font-heading text-[2rem];
    }
    a {
        @apply hover:text-text-light-hover dark:hover:text-text-dark-hover transition transition-all;
    }
}